cryptography==41.0.3
fastapi==0.103.1
pymysql==1.1.0
pyproject_hooks==1.0.0
python-dotenv==1.0.0
python-ulid==1.1.0
SQLAlchemy==2.0.19
strawberry-graphql[fastapi]==0.205.0
tqdm==4.66.1
uvicorn==0.23.2
novu==1.4.0
google-cloud-pubsub==2.18.4
google-cloud-storage
pymongo
mysqlclient==2.2.0
pandas
newrelic==9.3.0
psycopg2-binary==2.9.9
openpyxl
fpdf2
redis==5.2.1
websockets
websocket-client
